html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1D97CD;
}

h1 {
    font-family: Georgia, Serif;
    font-weight: bold;
    color: white;
}

#button {
    height: 22px;
    font-weight: bolder;
    color: #FFF;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
