html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1D97CD;
}

h1 {
    font-family: Georgia, Serif;
    font-weight: bold;
    color: white;
}

button {
    margin: 0;
    padding: 0;
    list-style: none;
}

button li {
    float: left;
    width: 170px;
    line-height: 2em;
}
