html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1D97CD
;
}

h1 {
    font-family: Georgia, Serif;
    font-weight: bold;
    color: white;
    padding: 50px;
}

#nav ul {
    float: center;
    list-style: none;
}

#nav ul li {
    float: left;
    margin: 10px 10px 10px 10px;
}

.gubbe {
    width: 10%;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    padding: 50px;
}
