.guarantee {
    width: 30%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 10%;
    border-color: black;
    border-width: 2px;
    border-style: none;
    background-color: aquamarine;
}

.join {
    width: 30%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 10%;
    border-color: black;
    border-width: 2px;
    border-style: none;
    background-color: aquamarine;
}

h2 {
    margin-left: 15%;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    padding: 60px;
    background-color: white;
    background-image: url(lounge/images/hotdrink.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.find {
    width: 30%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 10%;
    background-color: teal;
}

.logo {
    width: 30%;
    margin-left: 5px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 10%;
    border-style: dashed;
    border-color: white;
    background-color: aquamarine;
}
