div {
    font-family: serif;
}

.circle1 {
    box-sizing: border-box;
    background-color: #e67383;
    border-radius: 50%;
    color: white;
    position: fixed;
    width: 300px;
    height: 300px;
    position: absolute;
    text-align: center;
    padding: 60px;
    top: -75px;
    left: 180px;
    font-family: verdana;
}

.circle2 {
    box-sizing: border-box;
    background-color: #a41020;
    border-radius: 50%;
    color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: left;
    padding: 25px;
    top: 250px;
    left: 220px;
    font-size: 30%;
    font-family: verdana;
}

.circle3 {
    box-sizing: border-box;
    background-color: white;
    border-radius: 50%;
    color: brown;
    position: absolute;
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 100px;
    top: 75px;
    left: 400px;
    font-family: verdana;
}

.circle4 {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    top: 60px;
    right: 350px;
    font-family: verdana;
}

.circle5 {
    box-sizing: border-box;
    background-color: #a41020;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: white;
    position: fixed;
    bottom: 100px;
    right: 200px;
    padding: 10px;
    text-align: center;
    font-family: verdana;
}

.circle6 {
    box-sizing: border-box;
    background-color: #e67383;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: yellow;
    bottom: -5px;
    left: 300px;
    position: absolute;
    text-align: center;
    padding: 30px;
    font-family: verdana;
    color: #FFF;
}

body {
    background-color: #ffcdc5;
}
